<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<!--    <meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<script>
</script>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>MAKE YOUR RECIPE CHOICES AND CLICK GET RESULTS</h2>

</div>

<form action="#"  th:action="@{/selection}" th:object="${dietaryrestrictionssearches}" method="POST">
<div class="checkbox-cards" >
    <div class="card-1 card-image">

        <p>HEALTH CONDITION</p>

        <div class="card-content">

         <ul class="checkboxesconditions"></ul>

                   <div th:each="health_cond : ${health_conds}">

                        <label class="checkbox-1"><input type="checkbox" th:text="${health_cond.health_conds}" name="dietaryrestrictionssearches"  th:value="${health_cond.cond_id}"></label>
                        <input type="hidden" value="${health_cond.cond_id}"/>
        </div>
    </div>
    </div>

    <div class="card-2 card-image">
        <p>INGREDIENT SEARCH</p>

        <div class="card-content">

        <ul class="checkboxesingredients">

                <label class="checkbox"><input type="checkbox"value="" id="pork">PORK</label>
                <label class="checkbox"><input type="checkbox"value="" id="chicken">CHICKEN</label>
                <label class="checkbox"><input type="checkbox"value="" id="beef">BEEF</label>
                <label class="checkbox"><input type="checkbox"value="" id="vegetables">VEGETABLES</label>
                <label class="checkbox"><input type="checkbox"value="" id="cucumbers">CUCUMBERS</label>
                <label class="checkbox"><input type="checkbox"value="" id="cheese">CHEESE</label>
                <label class="checkbox"><input type="checkbox"value="" id="peppers">PEPPERS</label>
                <label class="checkbox"><input type="checkbox"value="" id="fish">FISH</label>
                <label class="checkbox"><input type="checkbox"value="" id="onions">ONIONS</label>
                <label class="checkbox"><input type="checkbox"value="" id="nuts">NUTS</label>
        </ul>
        </div>
    </div>

    <div class="card-3 card-image">
        <p>DIETARY RESTRICTIONS</p>

        <div class="card-content">

            <div class="checkboxrestrictions">
               <ul>
                   <th:block th:each="restriction : ${restrictions}">

                      <label class="checkbox-3"><input type="checkbox"  th:text="${restriction.restrictions}" name="dietaryrestrictionssearches"   th:value="${restriction.restrict_id}"></label>
                                                <input type="hidden"  value="${restriction.restrict_id}"/>
                   </th:block>
               </ul>

                    </div>

        </div>
    </div>

    <div class="card-4 card-image">
        <p>COOKING TIME</p>

        <div class="card-content">

            <ul class="checkboxescookingtime">

                <label class="checkbox"><input type="checkbox"value="" id="15min">15 MINUTES</label>
                <label class="checkbox"><input type="checkbox"value="" id="30min">30 MINUTES</label>
                <label class="checkbox"><input type="checkbox"value="" id="45min">45 MINUTES</label>
                <label class="checkbox"><input type="checkbox"value="" id="60min">60 MINUTES</label>

            </ul>
        </div>
    </div>


</div>

<div class="footer">
    <button id="filterResults" class="btn btn-primary btn-lg" type="submit">Get Results</button>
</div>
</form>
</body>
</html>
