<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Recipe View</title>
</head>


<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="grid-container" th:each="recipe : ${recipes}">
     <p>
         <!--I do not know why these Thymeleaf references are working with the plural reference, but
            every line required changing 'recipe' to 'recipes'-->
         <a th:href="@{'/list/' + ${recipes.id}}"></a>
    </p>
    <div class="item1">
        <p th:text="${recipes.name}"></p>
    </div>
    <div class="item2">Total Time
        <p th:text="${recipes.serve_time}"></p>
    </div>
    <div class="item3">Servings
        <p th:text="${recipes.servings}"></p>
    </div>
    <div class="item4">Ingredients
<!--          <p th:text="${recipes.ingredients}"></p>-->
    </div>
    <div class="item5">Directions
        <p th:text="${recipes.steps}"></p>
    </div>
</div>


</body>
</html>
